[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
pyqt5-stubs = "==5.14.2.2"
openpyxl = "*"
cx-freeze = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.9"
